<div class="row">
	<div class="col-5 genre_div">
		<h4>ジャンル編集</h4>

        <div class="genre-name-text">
        	<%= form_for(@genre, html: {method: "patch"}) do |f| %>
                <label>ジャンル</label>
                <label><%= f.text_field :name %></label>

                <label><%= f.radio_button :is_active, true %>有効</label>
                <label><%= f.radio_button :is_active, false %>無効</label>

            <%= f.submit '変更を保存する', class: "btn btn-outline-warning" %>
            <% end %>

    </div>
</div>
