<div class="container">
<div class="row">
 <h2>会員情報編集</h2>
 <%= form_for(@user) do |f| %>
 <div class="col-xs-4">
   <div class="field">
   	<%= f.label :image %>
		<%= f.attachment_field :image, class: "user_image" %>
   </div>
  </div>
<div class="col-xs-6">
   
   <div class="field">
   	<%= f.label :name, "ユーザーネーム", class: "col-xs-6 control-label" %>
   	<%= f.text_field :name, class: "name" %>
   </div>
   
   <div class="field">
   	<%= f.label :introduction, "自己紹介文", class: "col-xs-6 control-label" %>
   	<%= f.text_field :introduction, class: "introduction" %>
   </div>

   <div class="field">
   	<%= f.label :email, "メールアドレス", class: "col-xs-6 control-label" %>
   	<%= f.text_field :email, class: "email" %>
   </div>

   
    <div class="col-xs-offset-9 col-md-3">
    		<%= f.submit "変更を保存", class: "btn btn-primary" %><% end %>
    </div>

</div>
</div>