<div class="row">
	<div class="col-3">
	   	<table class="table">
			<tr>
				<td><%= attachment_image_tag(@item, :img, :fill, 200, 200) %></td>
			</tr><br>
			<tr>
				<td><%= @item.name %></td>
			</tr><br>
			<tr>
				<td>予約総数:<%= @item.reservations.count %></td>
			</tr>
        </table>
	</div>
	<div class="offset-1 col-8">
		<!-- form_forはtableの外側に配置すること。 -->
	  <% @reservations.each do |reservation| %>
		<%= form_for(reservation, url:reservation_path, html: {method: :patch}) do |f| %>
		<table class="table">

			<tr>
				<td>
					  <%= link_to reservation.user.name, mypage_path(reservation.user.id) %>
				</td>
				<td></td>
				<td></td>

			<!-- ステータスの更新（同期） -->
			<div class="actions", data-turbolinks="false">
				<td><%= f.select :status, [["配布済み", true],["未配布", false]] %></td>
				<td><%= f.submit "更新", class:"btn btn-info" %></td>
			</div>
			<!-- ここまでが範囲 -->

				<td><%= link_to "削除", reservation_path(reservation), method: :delete, class:"btn btn-danger" %></td>
			</tr>
		</table>
		<% end %>
	  <% end %>
		<!-- form_forとじ -->
	</div>
</div>