
<div class="row">
<%= form_for(@item, html: {method: :post, class: "form-horizontal"}) do |f| %>
 <h2>新規作品</h2>
 
  <div class="col-4">
		   <%= f.label :img, "作品画像" %>
		      <div id="item-image">
                <%= attachment_image_tag @item, :img, class: "img-square", fallback: "no_image.jpg", size:"300x300" %>
              </div>
		        <%= f.attachment_field :img, class: "img" %>

	        <script>
                $(function(){
              // inputのidから情報の取得
                $('.img').on('change', function (e) {
              // ここから既存の画像のurlの取得
                   var reader = new FileReader();
                   reader.onload = function (e) {
                       $(".img-square").attr('src', e.target.result);
                   }
              // ここまで
                   reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
              });
              });

            </script>

  </div>

  <div class="col-7">
	     	<div class="form-group">
			 	<%= f.label :name, "作品名", class: "control-label" %>
			 	<div class="col-xs-6">
			 		<%= f.text_field :name, class: "form-control name" %>
			 	</div>
			</div>

			<div class="form-group">
				<%= f.label :artist_name, "応援する人の名前", class: "col-xs-2 control-label" %>
				<div class="col-xs-6">
					<%= f.text_field :artist_name, class: "form-control artist_name" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :explanation, "作品説明", class: "col-xs-2 control-label" %>
				<div class="col-xs-6">
					<%= f.text_field :explanation, class: "form-control explanation" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :tag_name, "タグ（※スペースで区切る）", class: "col-xs-2 control-label" %>
				<div class="col-xs-6">
					<%= f.text_field :tag_name, class: "form-control explanation" %>
			    </div>
		   </div>

			<div class="form-group">
				<div class="dropdown">
				 	<%= f.label :genre, "ジャンル", class: "col-xs-2 control-label" %>
				 	<div class="col-xs-6">
		        		<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
		        	</div>
	       		</div>
		    </div>

			<div class="form-group">
				<%= f.label :distribute_place, "配布場所", class: "col-xs-2 control-label" %>
				<div class="col-xs-6">
					<%= f.text_field :distribute_place, class: "form-control distribute_place" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :distribute_date, "配布日時", class: "col-xs-2 control-label" %>
				<%= f.datetime_select :distribute_date, {}, class: 'form-control form-control-inline' %>
				<%= f.label :distribute_date_fin, "終了日時", class: "col-xs-2 control-label" %>
				<%= f.datetime_select :distribute_date_fin, {}, class: 'form-control form-control-inline' %>
			</div>

			<div class="form-group">
	        	<div class="dropdown">
		         　	<%= f.label :status, "公開設定", class: "col-xs-2 control-label" %>
		         	<div class="col-xs-6">
		          		<%= f.select :status, [["公開", true],["未公開", false]], include_blank: "選択して下さい" %>
		          	</div>
	         	</div>
	        </div>

  </div>

			<div class="col-xs-offset-9 col-md-3 submitbtn">
				<%= f.submit "新規登録", class: "btn btn-primary" %>
     		</div>

<% end %>
</div>
