<div class="row">
	<div class="col-12">
		<h3>検索：<%= @search_word %></h3>
	</div>
	<div class="co-3 bg-white radius genre-index pd-20">
		<%= render 'genres/genre' %>
	</div>


	<div class="col-9 items d-sm-flex">
		<% @items.each do |item| %>
		 <%= link_to item_path(item) do %>
		  <div class="items_view flex-sm-row ml-4 mt-3">
			<%=attachment_image_tag(item,:img ,:fill,300,300,fallback:"noimg.jpg",size:"200x200") %>
		  </div>
		 <% end %>
		<% end %>
	</div>
</div>

<div class="offset-10">
	<%= paginate @items %>
</div>
