<div class="row">
    <h2><%= @item.name %>
    <% if @item.favorited_by?(current_user) %>
            <%= link_to item_favorites_path(@item), method: :delete, remote: true do %>
             <i class="far fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @item.favorites.count %> 
            <% end %>
      <% else %>
            <%= link_to item_favorites_path(@item), method: :post, remote: true do %>
            <i class="far fa-heart" aria-hidden="true"></i>
            <%= @item.favorites.count %> 
            <% end %>
    <% end %>
    </h2>
</div>

<div class="row">

  <div class="col-4">
		<%= attachment_image_tag(@item, :img, :fill, 300, 300) %>
	</div>

	<div class="col-7">
		<%= @item.explanation %>

	<div class="row">

    <p class="col-4">タグ</p>
    <div class="col-8">
         <% @item.tags.each do |tag| %>
          <%= link_to tag.name, search_path(tag_search:tag.id) %>
         <% end %>
    </div>

    <p class="col-4">応援する人の名前</p>
    <div class="col-8">
		  <%= @item.artist_name %>
    </div>

		<p class="col-4">ジャンル名</p>
    <div class="col-8">
      <% if @item.genre.is_active == true %>
		    <%= @item.genre.name %>
      <% end %>
    </div>

		<p class="col-4">配布場所</p>
    <div class="col-8">
		  <%= @item.distribute_place %>
    </div>

		<p class="col-4">配布日時</p>
    <div class="col-8">
		  <%= @item.distribute_date.strftime("%Y年%m月%d日 %-H時%-M分") %>
    </div>


    <p class="col-4">終了日時</p>
    <div class="col-8">
      <%= @item.distribute_date_fin.strftime("%Y年%m月%d日 %-H時%-M分") %>
    </div>

  <% if @item.user == current_user %>
    <p class="col-4">公開設定</p>
    <div class="col-8">
      <%= @item.status_ja %>
    </div>
  <% end %>

  </div>
  
</div>

<div class="col-12 pb-3">
  製作者：<%= link_to @item.user.name, mypage_path(@item.user.id), class: "btn btn-outline-success", 'data-turbolinks':false %>（プロフィールを見る）
</div>


  <% if @item.user == current_user %>
     
     <div class="col-3">
    	 <%= link_to "投稿を編集する", edit_item_path(@item), class: "btn btn-primary" %>
     </div>

     <div class="col-2">
        <%= form_for(@item, url:item_path, html: {method: :delete}) do |f| %>
         <%= f.submit "投稿削除", class: "btn btn-outline-danger" %>
        <% end %>
     </div>

     <div class="col-3">
       <%= link_to "予約状況を確認する", reserve_user_path(@item.id), class: "btn btn-primary" %>
     </div>

  <% else %>

     <div class="offset-8"></div>

  <% end %>



  <div class="col-2">
        <%= form_for(@reservation, url:reservation_path, html: {method: :post}) do |f| %>
          <%= f.submit "予約する", class: "btn btn-primary" %>
        <% end %>
  </div>

  <div class="col-2">
       <%= link_to "予約削除", reservation_path(@item.id), method: :delete, class: "btn btn-warning" %>
  </div>

</div>
